/**** Animation****/
@keyframes menuAppear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
/****** Hearder ******/
.header__menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header__menu a {
  position: absolute;
  margin-left: 15px;
}

.header__logo-menu {
  padding: 14px 89px 14px 89px;
  width: 100%;
  display: flex;
  justify-content: center;
}

/****** Main *****/
.image__menu img {
  width: 100%;
  height: 275px;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
}

/*** Menu ***/
.menu {
  position: relative;
  background-color: white;
  border-radius: 30px 30px 0 0;
  top: 220px;
}

.menu__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}
.menu__title .menu__title-font {
  font-family: "Shrikhand", sans-serif;
}
.menu__title .fa-regular {
  position: absolute;
  right: 15px;
  font-size: 20px;
}
.menu__title .fa-solid {
  position: absolute;
  right: 15px;
  font-size: 20px;
  color: transparent;
  background-image: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
}
.menu__title .fa-solid:hover {
  opacity: 1;
}

.title__menu {
  margin-left: 10px;
}
.title__menu span {
  -webkit-text-decoration: underline #99E2D0 3px;
          text-decoration: underline #99E2D0 3px;
}

.entrees, .plats, .desserts {
  animation: menuAppear 3000ms;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
  transform: scale(0);
}

.plats {
  animation-delay: 1000ms;
}

.desserts {
  animation-delay: 2000ms;
}

.card__menu {
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  margin: 0px 10px 10px 12px;
  overflow: hidden;
}
.card__menu:hover .card__menu-content-check {
  margin-right: 0;
}

.card__menu-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}
.card__menu-content .card__menu-content-prix {
  display: flex;
  align-items: flex-end;
  margin-left: auto;
  padding: 16px;
}
.card__menu-content .card__menu-content-title {
  overflow: hidden;
  padding: 16px;
}
.card__menu-content .card__menu-content-title p, .card__menu-content .card__menu-content-title h3 {
  margin-top: 0;
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card__menu-content .card__menu-content-title p {
  font-size: 13px;
}
.card__menu-content .card__menu-content-title h3 {
  font-size: inherit;
}
.card__menu-content .card__menu-content-check {
  display: grid;
  place-items: center;
  background-color: #99E2D0;
  margin-right: -60px;
  width: 60px;
  transition: all 1s;
}
.card__menu-content .card__menu-content-check i {
  display: grid;
  place-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  color: #99E2D0;
}

.card__menu:hover .card__menu-content-check {
  margin-right: 0;
}

.plats, .desserts {
  margin-top: 40px;
}

/**** Bouton commander***/
.commander {
  display: flex;
  align-items: center;
  justify-content: center;
}

.boutton__commander {
  width: 186px;
  cursor: pointer;
  border-radius: 25px;
  background: var(--bouton-gradient);
  color: white;
  height: 50px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border: none;
  margin: 40px 0px;
}
.boutton__commander:hover {
  opacity: 0.9;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.25);
}

/**** footer *****/
.footer__menu {
  margin-top: 220px;
}

@media (min-width: 1025px) {
  .header__menu a {
    margin-left: -300px;
  }
  .menu {
    max-width: 1055px;
    margin: 0 auto;
    background-color: #f6f6f6;
  }
  .menu .menu__title {
    justify-content: center;
  }
  .menu .menu__title .fa-regular {
    right: 370px;
  }
  .menu .menu__title .fa-solid {
    right: 370px;
  }
  .entrees, .plats, .desserts {
    max-width: 634px;
    margin: 0 auto;
  }
  .entrees .card__menu, .plats .card__menu, .desserts .card__menu {
    background-color: white;
  }
}/*# sourceMappingURL=page_restaurant.css.map */