/****** Général ******/
*{
    font-family: 'Roboto', sans-serif;
}

:root{
    --primary:#9356DC;
    --Green:#99E2D0;
    --main-color-background:#F6F6F6;
    --grey-2:#EAEAEA;
    --bouton-gradient: linear-gradient(193deg,var(--primary) -11.44%,#FF79DA 123.93%)
}

a{
    color: inherit;
    text-decoration: none;
}

body{
    margin: 0px;
}

.card{
    display: flex;
    align-items: center;
    background-color: var(--main-color-background);
    border-radius: 20px;
    box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.15);
    min-height: 72px;
    margin: 0px 20px 25px 34px;
}

/****** Header ******/

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header__logo{
    padding: 14px 89px 14px 89px;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.15);
}

.header__emplacement{
    background-color:var(--grey-2);
    width: 100%;
    display: flex;
    justify-content: center;
}

.header__ville{
    margin-left: 17px;
}

/****** Main ******/
    /*** Haute de page ***/

.exploration__restaurant{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--main-color-background);
}

.sous__titre{
    margin: 0px 26px 27px 34px;
}

.bouton__restaurant{
    cursor: pointer;
    border-radius: 25px;
    background:var(--bouton-gradient);
    color: white;
    height: 50px;
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.25);
    border: none;
    margin-bottom: 57px;
}

    /*** Fonctionnement ***/

    .titre__fonctionnement{
        margin-left: 20px;
    }

    .fontionnement__card{
        display: flex;
        flex-direction: column;
    }

    .fontionnement__card .card {
        display: flex;
        flex-direction: row;
    }

    .text__card{
        margin-left: 27px;
    }

    .eclipse{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 23px;
        border: 2px solid;
        border-color:var(--primary);
        border-radius: 20px;
        height: 20px;
        width: 20px;
        background-color: var(--primary);
    }

    .numero__eclipse{
        margin: 0;
        color: white;
    }

    /*** Restaurants ***/
    
    .restaurant__title{
        margin-left: 20px;
    }
    .restaurant__card{
        display: flex;
        flex-direction: column;
    }

    .languette__nouveau{
        display: flex;
        flex-direction: row-reverse;
        width: 89px;
        min-height: 29px;
        margin-left: 236px;
        justify-content: center;
        align-items: center;
        color: #008766;
        background-color: var(--Green);
        border-radius: 2px;
        position: absolute;
    }

    .restaurant__card img{
        width: 100%;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
    }

    .card__restaurant{
        display: flex;
        flex-direction: column;
        border-radius: 15px;
        min-height: 250px;
        margin: 0px 18px 18px 17px;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
        position: relative;
    }

    .card__restaurant-content{
        display: flex;
        flex-direction: row;
        margin-left: 13px;
    }
    
    .card__restaurant-content-title{
        margin-bottom: 0;
    }
    .card__restaurant-content-subtitle{
        margin-top: 0;
    }
    
    .card__restaurant-content i{
        margin-top: 30px;
        margin-left: 150px;
    }


/****** Footer ******/

footer{
    color: white;
    background-color:#353535;
    padding:22px 25px;
}

footer img{
    width: 139px;
    margin-bottom: 16px;
}

.footer__liens{
    display: flex;
    flex-direction: column;
}

.text__gras{
    margin-left: 11px;
}